@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-body-dark: #5c5577;
  --color-border: #ccc;
  --border-radius: 30px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* start: Typography */
html {
  font-size: 62.5%;
}

body {
  color: var(--color-body);
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
  margin: 0;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

@media (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/* end: Typography */

/* start: Links */
a {
  text-decoration: none;
}

.arrow-link {
  color: var(--color-accent);
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.arrow-link::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.15s;
}

.arrow-link:hover::after {
  margin-left: 10px;
}

@media (min-width: 1024px) {
  .arrow-link {
    font-size: 1.5rem;
  }
}
/* end: Links */

/* start: Badges */
.badge {
  border-radius: 20px;
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  white-space: nowrap;
}

.badge--primary {
  background: var(--color-primary);
}

.badge--secondary {
  background: var(--color-secondary);
}

.badge--small {
  font-size: 1.6rem;
}

@media (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }

  .badge--small {
    font-size: 1.2rem;
  }
}
/* end: Badges */

/* start: List */
.list {
  color: var(--color-headings);
  list-style: none;
  padding-left: 0;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  list-style-image: url(../images/tick.svg);
  padding-left: 3rem;
}

.list--tick .list__item {
  margin-bottom: 1rem;
  padding-left: 0.5rem;
}

@media (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}
/* end: List */

/* start: Icon */
.icon {
  height: 40px;
  width: 40px;
}

.icon--small {
  height: 30px;
  width: 30px;
}

.icon--primary {
  fill: var(--color-primary);
}

.icon--white {
  fill: #fff;
}

.icon-container {
  align-items: center;
  background: #f3f9fa;
  border-radius: 100%;
  display: inline-flex;
  height: 64px;
  justify-content: center;
  width: 64px;
}
/* end: Icon */

/* end: Buttons */
.btn {
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 2rem 3rem;
  text-align: center;
  text-transform: uppercase;
  transition: background 0.3s, color 0.3s;
  white-space: nowrap;
  margin: 1rem 0;
}

.btn--icon .icon {
  height: 16px;
  width: 16px;
  object-fit: contain;
  margin-right: 0.5rem;
  vertical-align: middle;
}

.btn--primary {
  background: var(--color-primary);
  color: #fff;
}

.btn--primary:hover {
  background: #3a8ffd;
}

.btn--seconday {
  background: var(--color-secondary);
  color: #fff;
}

.btn--seconday:hover {
  background: #00c8eb;
}

.btn--accent {
  background: var(--color-accent);
  color: #fff;
}

.btn--accent:hover {
  background: #ec3000;
}

.btn--outline {
  background: #fff;
  border: 2px solid var(--color-headings);
  color: var(--color-headings);
}

.btn--outline:hover {
  background: var(--color-headings);
  color: #fff;
}

.btn--stratched {
  padding-left: 6rem;
  padding-right: 6rem;
}

.btn--block {
  display: inline-block;
  width: 100%;
}

@media (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

/* end: Buttons */
/* start: Inputs */
.input {
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  color: var(--color-headings);
  font-size: 2rem;
  outline: none;
  padding: 1.5rem 3.5rem;
}

::placeholder {
  color: #cdcbd7;
}

.input-group {
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  display: flex;
}

.input-group .input {
  border: 0;
  flex-grow: 1;
  padding: 1.5rem 2rem;
}

.input-group .btn {
  margin: 4px;
}

@media (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}
/* end: Inputs */

/* start: plans */
.card {
  border-radius: 7px;
  box-shadow: 0 0 10px 10px #f3f3f3;
  overflow: hidden;
  margin: 0 auto;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card__header {
  padding: 2rem 7%;
}

.card__body {
  padding: 2rem 7%;
}

.card--secondary .card__header {
  background: var(--color-secondary);
  color: #fff;
}

.card--primary .card__header {
  background: var(--color-primary);
  color: #fff;
}

.card--primary .badge--secondary {
  background: #126de4;
}

.card--secondary .badge--secondary {
  background: #02cdf1;
}

.plan__name {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 500;
  margin: 0;
}

.plan__price {
  font-size: 5rem;
}

.plan__billing-cycle {
  font-size: 2rem;
  opacity: 0.8;
  font-weight: 300;
  margin-right: 1rem;
}

.plan__description {
  display: block;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
}

.plan--popular .card__header {
  position: relative;
}

.plan--popular .card__header::before {
  content: url(../images/popular.svg);
  display: inline-block;
  position: absolute;
  right: 5%;
  top: -6px;
  width: 40px;
}

@media (min-width: 768px) {
  .plan--popular {
    transform: scale(1.06);
  }
}

@media (min-width: 1024px) {
  .plan__name {
    font-size: 1.4rem;
  }

  .plan__billing-cycle {
    font-size: 1.6rem;
  }

  .plan__description {
    font-size: 1.7rem;
  }
}
/* end: plans */

/* start: media */
.media {
  display: flex;
  align-items: flex-start;
}

.media__image {
  margin-top: 1rem;
}

.media__title {
  margin-top: 0;
}

.media__body {
  margin: 0 2rem;
}
/* end: media */
/* start: quote */
.quote {
  margin: 0;
}
.quote__text {
  color: var(--color-body-dark);
  font-size: 3rem;
  font-style: italic;
}

.quote__text::before {
  content: open-quote;
}

.quote__text::after {
  content: close-quote;
}

.quote__author {
  font-size: 3rem;
  margin-bottom: 0;
}

.quote__organization {
  font-size: 2rem;
  opacity: 0.4;
}

.quote__line {
  bottom: 10px;
  position: relative;
}

@media (min-width: 768px) {
  .quote__text {
    font-size: 2.4rem;
  }
  .quote__author {
    font-size: 2.4rem;
  }

  .quote__organization {
    font-size: 1.6rem;
  }
}

/* end: quote */

/* start: grid */
.grid {
  display: grid;
}

@media (min-width: 768px) {
  .grid--1x2,
  .grid--1x3 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* end: grid */

/* start: Testimonial */
.testimonial {
  padding: 3rem;
}

.testimonial__image {
  position: relative;
}

.testimonial__image > img {
  width: 100%;
}

.testimonial__image > .icon-container--accent {
  background: var(--color-accent);
}

.testimonial__image > .icon-container {
  position: absolute;
  right: -32px;
  top: 20px;
}

@media (min-width: 768px) {
  .testimonial .quote .testimonial .quote__author {
    font-size: 2.4rem;
  }

  .testimonial .quote {
    margin-left: 6rem;
    align-self: center;
  }
}
/* end:  Testimonial*/

/* start:  callouts*/
.callout {
  border-radius: 5px;
  padding: 4rem;
}

.callout--primary {
  background: var(--color-primary);
  color: #fff;
}

.callout__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.callout__content {
  text-align: center;
}

.callout__heading {
  color: #fff;
  font-size: 3rem;
  margin-top: 0;
}

@media (min-width: 768px) {
  .callout__container {
    flex-direction: row;
  }

  .callout__content {
    text-align: left;
    margin-right: 3rem;
  }
}
/* end:  callouts*/

/* start:  collapsible*/
.collapsible {
  margin-bottom: 3rem;
}

.collapsible__header {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.collapsible__heading {
  font-size: 3rem;
  margin-top: 0;
}

.collapsible__chevron {
  transform: rotate(-90deg);
  transition: transform 0.4s;
}

.collapsible__content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.8s ease;
}

.collapsible--expanded .collapsible__chevron {
  transform: rotate(0deg);
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}
/* end:  collapsible*/

/* start:  Navigationbar*/
.nav {
  align-items: center;
  background: #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 1rem;
  margin-bottom: 0;
}

.nav__brand {
  transform: translateY(5px);
}

.nav__toggler {
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.4s;
}

.nav__list {
  width: 100%;
  margin: 0;
}

.nav__item {
  border-bottom: 1px solid darkgray;
  padding: 0.5rem 2rem;
}

.nav__link {
  color: #d2d0db;
  transition: color 0.3s;
}

.nav__link:hover {
  color: #fff;
}

.nav.collapsible--expanded .nav__toggler {
  box-shadow: 0 0 0 3px #666;
  opacity: 1;
}

@media (min-width: 768px) {
  .nav__toggler {
    display: none;
  }

  .nav__list {
    display: flex;
    font-size: 1.6rem;
    max-height: 100%;
    opacity: 1;
    width: auto;
  }

  .nav__item {
    border-bottom: 0;
  }
}
/* end:  Navigationbar*/

/* start:  Blocks*/
.block {
  --padding-vertical: 6rem;
  padding: var(--padding-vertical) 2rem;
}

.block__header {
  text-align: center;
}

.block__heading {
  margin-top: 0;
}

.block--dark {
  background: #000;
  color: #7b858b;
}

.block--dark .block__heading {
  color: #fff;
}

.block--skewed-right {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 80%);
  padding-bottom: calc(var(--padding-vertical) + 4rem);
}

.block--skewed-left {
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
  padding-bottom: calc(var(--padding-vertical) + 4rem);
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* end:  Blocks*/

/* start:  Hero*/
.hero {
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
}

.hero__tagline {
  color: #b9c3cf;
  font-size: 2rem;
  letter-spacing: 1px;
  margin-bottom: 5rem;
  margin-top: 2rem;
}

.hero__image {
  width: 100%;
}

@media (min-width: 768px) {
  .hero__content {
    text-align: left;
    align-self: center;
  }

  .hero {
    padding-top: 0;
  }
}
/* end:  Hero*/

/* start:  Block Domain*/
.block--domain .input-group {
  border: none;
  box-shadow: 0px 0px 13px 20px #e6ebee;
  margin: 4rem auto;
  max-width: 670px;
}

.block--domain .input-group .btn {
  margin-left: -35px;
}

.block--domain__prices {
  display: grid;
  font-size: 2rem;
  font-weight: 600;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 6rem);
  justify-content: center;
  margin: 0 auto;
  max-width: 700px;
  text-align: center;
}

@media (min-width: 768px) {
  .block--domain__prices {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    font-size: 1.5rem;
  }
  .block--domain .input-group .btn {
    margin-left: 0px;
  }
}

/* end:  Block Domain*/

/* start:  Plans*/
.block-plans .grid {
  gap: 3rem;
}
/* end:  Plans*/

/* start:  feature*/
.feature {
  align-items: center;
  gap: 4rem 2rem;
  margin-bottom: 12rem;
  margin-top: 6rem;
}

.feature__heading {
  margin: 1rem 0;
}

.feature__image {
  width: 100%;
}
/* end:  feature*/

/* start:  showcase*/
.showcase .grid {
  gap: 3rem;
}

.showcase__content .media__title {
  color: #fff;
  font-size: 2.4rem;
}

.showcase__content .media__title + p {
  color: #7b858b;
}

.showcase__image {
  width: 100%;
}

.showcase.block--skewed-right {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 90%);
}
/* end:  showcase*/

/* start:  Testimonial*/
.testimonial-block .block__header {
  margin-bottom: 4rem;
}

.testimonial-block .card:hover {
  transform: none;
}
/* end:  Testimonial*/

/* start:  Footer*/
.footer {
  background: #232323;
}

.footer__section {
  border-bottom: 1px solid #393939;
  padding-bottom: 3rem;
}

.footer_heading {
  color: #fff;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0;
}

.footer a {
  color: #777;
  transition: color 0.3s;
}

.footer .list li {
  margin-bottom: 1rem;
}

.footer a:hover {
  color: #fff;
}

.footer__brand {
  margin-top: 5rem;
  text-align: center;
}

.footer__copyright {
  font-size: 2.1rem;
  color: #fff;
  opacity: 0.3;
}

.footer__brand img {
  width: 100%;
  max-width: 230px;
}

@media (min-width: 992px) {
  .footer .grid {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 3rem;
  }

  .footer__section {
    border-bottom: 0;
  }

  .footer_heading {
    font-size: 1.6rem;
  }

  .footer .collapsible__content {
    max-height: 100%;
    opacity: 1;
  }

  .footer .collapsible__chevron {
    display: none;
  }

  .footer__brand {
    order: -1;
    margin-top: -10px;
  }

  .footer__copyright {
    font-size: 1.5rem;
  }
}
/* end:  Footer*/
